name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Login to dockerhub 
      uses: docker/login-action@v1
      with:
        username: fjollabeqiraj
        password: ${{ secrets.PASSWORD }}
    - name: Build the Docker image
      working-directory: web-app/devops-kubernetes-training-web-main
      run: docker build . --file Dockerfile --tag fjollabeqiraj/new_reactjs:$(date +%s)
    - name: Docker Push 
      run: docker push fjollabeqiraj/new_reactjs:$(date +%s)
